[Unit]
Description=gunicorn3 for hackaday-27-walk
After=network.target

[Service]
Type=simple
WorkingDirectory=/hackaday/day27_walk
ExecStart=/bin/gunicorn3 -e SCRIPT_NAME=/hackaday/walk --bind 0.0.0.0:8027 app:app

[Install]
WantedBy=multi-user.target
